html {
	margin:0;
	padding:0;
	width:100%;
	background: url(../_images/pine_rock_grad2.jpg) no-repeat center center fixed;
	background-size: cover;
	box-sizing: border-box;
	text-align: center;
}

*, *:before, *:after { box-sizing: inherit; }



/*TODO add highlight color (currently default blue)*/


[class*="col-"] {
    float: left;
    padding: 15px 5px;
}

.col-1 {width: 6.25%;}
.col-2 {width: 12.5%;}
.col-3 {width: 18.75%;}
.col-4 {width: 25%;}
.col-5 {width: 31.25%;}
.col-6 {width: 37.5%;}
.col-7 {width: 43.75%;}
.col-8 {width: 50%;}
.col-9 {width: 56.25%;}
.col-10 {width: 62.5%;}
.col-11 {width: 68.75%;}
.col-12 {width: 75%;}
.col-13 {width: 81.25%;}
.col-14 {width: 87.5%;}
.col-15 {width: 93.75%;}
.col-16  {width: 100%;}

h1 {
	margin:0.5rem auto;
	padding:1rem;
	font-size:8em;
	font-family:"Wire One",sans-serif;
	color:#eee;
	font-weight: 400;
	line-height: 0.75em;
}

h2 {
	margin:0.5rem 0;
	font-size:2em;
	color:#d9b97d;
	line-height: 0.75em;
	letter-spacing: 0.1em;
	font-family: "Slabo 27px", sans-serif;
}

p::selection {
	background-color: #d9b97d;
}

.nav{
	margin:0;
	padding:0;
}
.nav li {
	margin:1em;
	padding:0;
	display:inline;

}

.nav a {
	margin:0;
	padding:0;
	text-decoration: none;
	color:#98be75;
	font-family: "Wire One", sans-serif;
	font-weight: 700;
	font-size:3em;
	text-transform: lowercase;
}

.active a {
	font-family: "Playfair Display", sans-serif;
	font-size: 3em;
	font-weight: 400;
	text-transform: uppercase;
}

.caps-emph {
	font-family:"Playfair Display",sans-serif;
	font-style: normal;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 400;

}


.about__text{
	margin:0;
	padding:0.75em 0 0 0 ;
/*	font-family: "Wire One", sans-serif;
	font-size: 3em;
	font-weight: 400;
	color: #eee;*/
	font-family: "Slabo 27px", sans-serif;
	font-size: 1.75em;
	letter-spacing: 0.1em;
	font-weight: 200;
	color: #ddd;
	text-align: justify;
}


.projects__ss {
	width:20%;
	padding:2%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.0 \'/></filter></svg>#grayscale");
   filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Google Chrome, Safari 6+ & Opera 15+ */
 	display: inline-block;

}

.projects__ss:hover {
	filter:none;
	-webkit-filter: none;

}

.connect__links {
	margin:0;
	padding:0;
}


.connect__links li {
	margin:0;
	padding-bottom:0;
	display: inline;
}

.connect__links a {
	color:#d9b97d;
	text-decoration: none;
    font-size:10em;
}


.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height:100vh;
	padding-bottom:4rem;
	width:70%;
	margin:0 auto;
}

@media only screen and (max-width: 1001px){

	.projects__ss{
		width:40%;
	}


}

@media only screen and (max-width: 775px){
	h1 {
		font-size:8em;
	}
	.about__text {
		font-size: 2em;
	}
	h2 {
		font-size:2.5em;
	}
	.nav a {
		font-size:3em;
	}
	.nav .active {
		font-size:1em;
	}
	.connect__links a{
		font-size:6em;
	}



}
@media only screen and (max-width: 440px){
	html{
		background-size: auto 100%;
	}
	h1 {
		font-size:5em;
	}
	h2 {
		font-size:1.5em;
	}
	.flex-container {
		padding-bottom:3rem;
	}

	.nav a{
		font-size:2em;
	}
	.about__text {
		font-size:1em;
	}
	.connect__links a{
		font-size:3em;
	}
}